.sombra {
    box-shadow: 0px 0px 10px #8992e798;
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}


.cursor-pencil {
    cursor: url("./assets/Pencil.svg"), auto !important
}

.cursor-erased {
    cursor: url("./assets/Erased.svg"), auto !important;
}
